<footer id="footer">

  <a href="/" class="footerLogo"><h1 class="logo">IZSAT</h1></a>
  <div class="footerLinks">
    <ul class="footer-nav">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/donate">Donate</a>
      </li>
    </ul>
  </div>

  <div class="social-icons">
    <ul>
      <li><a href="https://www.facebook.com/MichiganIzzat/?ref=br_rs"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://www.instagram.com/michiganizzat/?hl=en"><i class="fab fa-instagram"></i></i></a></li>
    </ul>
  </div>

  <p id="copyright">© 2018 Michigan Izzat. All Rights Reserved // Website created by <span> <a href="https://umich.edu/~nealmatt" target="https://umich.edu/~nealmatt" id="Neal">Neal Matta</a></span></p>

</footer>
