<div id="mySidenav" class="sidenav">
  <a href="/" style="text-decoration: none;"><h1 class="logo">IZSAT</h1></a>
  <div class="NavBarLinks">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/donate">Donate</a>
      </li>
    </ul>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  </div>
</div>
<div class="openNavBTN" style="position: fixed;">
  <span onclick="openNav()"><i class="fas fa-plus maxminBTN"></i></span>
</div>
