<div id="mySidenav" class="sidenav">
  <a href="index.html" style="text-decoration: none;"><h1 class="logo">IZSAT</h1></a>
  <div class="NavBarLinks">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="events.html">Events</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Members</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="donate.html">Donate</a>
      </li>
    </ul>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  </div>
</div>
<div class="openNavBTN" style="position: fixed;">
  <span onclick="openNav()"><i class="fas fa-plus maxminBTN"></i></span>
</div>
