<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Izzat | About Us</title>

  <% include partials/header %>

</head>

<body>
  <!-- Sidenav Bar -->
  <% include partials/sidenav %>

    <!-- Background -->
    <div class="" style="background: black;">
      <img src="/images/Group/about.png" alt="Group Photo" class="pageBackgroundIMG">
    </div>

    <section style=" background: white;">
      <div class="container eachSection">
        <h1 class="eachSectionTitle">Who are we?</h1>
        <p>
          Michigan Izzat, founded in January of 2013, is the University of Michigan's premier all-male fusion dance team. As a nationally ranked collegiate team, we strive to promote dance and culture while staying true to our identity and university. Both on and
          off the stage, we affirm this mission through community service and performances for our campus community as well as the greater community across the nation. Using high energy choreography, innovative stunts, and our passion for dance, we come
          together fusing the styles of hip hop, bhangra and bollywood to produce a performance intended to inspire, to allure, and to celebrate Indian and American culture.
        </p>
      </div>

      <hr class="style-two">
      <!-- Members -->
      <div class="container eachSection">
        <h1 class="eachSectionTitle">The Boahz</h1>
        <p id="note"><i>Click on the buttons to see all the members</i></p>
        <div class="ActiveAlumBTN">
          <button type="button" onclick="togActiveAlum('Active')">Active</button>
          <button type="button" onclick="togActiveAlum('Alumni')">Alumni</button>
        </div>

        <div class="row">
          <div id="Active" style="display:none;">
            <% members.forEach(function(member){ %>
              <% if (member["current"]){ %>
                <div class="col-lg-3 col-md-3 col-sm-4 memberPics">
                  <img src="images/profile/temp.png" alt="Temp">
                  <h3><%= member["name"] %></h3>
                  <% if (member["hasPosition"]){ %>
                    <h5><%= member["position"] %></h5>
                  <% }; %>
                </div>
              <% }; %>
            <% }); %>
          </div>
        </div>

        <div class="row">
          <div id="Alumni" style="display: none">
            <% members.forEach(function(member){ %>
              <% if (!(member["current"])){ %>
                <div class="col-lg-2 col-md-2 col-sm-3 memberPics">
                  <img src="images/profile/temp.png" alt="Temp">
                  <h3><%= member["name"] %></h3>
                </div>
              <% }; %>
            <% }); %>
          </div>
        </div>

      </div>

    </section>

    <% include partials/footer %>

      <script type="text/javascript">
        /* Set the width of the side navigation to 250px */
        function openNav() {
          document.getElementById("mySidenav").classList.remove("close");
          document.getElementById("mySidenav").classList.add("open");
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
          document.getElementById("mySidenav").classList.remove("open");
          document.getElementById("mySidenav").classList.add("close");
        }

        function togAlum() {
          var nav = document.getElementById("Alumni");
          if (nav.style.display === 'inherit') {
            nav.style.display = 'none';
            document.getElementById("hrDivider").style.display = 'none';
          } else {
            nav.style.display = 'inherit';
            if (document.getElementById("Active").style.display === 'inherit') {
              document.getElementById("hrDivider").style.display = 'inherit';
            }
          }
        }

        function togActive() {
          var nav = document.getElementById("Active");
          if (nav.style.display === 'inherit') {
            nav.style.display = 'none';
            document.getElementById("hrDivider").style.display = 'none';
          } else {
            nav.style.display = 'inherit';
            if (document.getElementById("Alumni").style.display === 'inherit') {
              document.getElementById("hrDivider").style.display = 'inherit';
            }
          }
        }

        function togActiveAlum(ActiveOrAlum) {
          var members = ActiveOrAlum;

          if (members === "Active") {
            document.getElementById("Active").style.display = "inherit"
            document.getElementById("Alumni").style.display = "none"
          } else {
            document.getElementById("Active").style.display = "none"
            document.getElementById("Alumni").style.display = "inherit"
          }

        }
      </script>


</body>

</html>
