<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Izzat | Contact</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- Javascript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Font Styles -->
  <link href="https://fonts.googleapis.com/css?family=Jura:400,600,700" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </script>

</head>

<body>
  <!-- Sidenav Bar -->
  <% include partials/sidenav %>

    <!-- Background -->
    <div class="" style="background: black;">
      <img src="images/Group/contact.png" alt="Group Photo" class="pageBackgroundIMG">
    </div>

    <div class="container eachSection">
      <h1>Give us a shout</h1>
      <p>If you would like to hire Michigan Izzat to perform at your next event, email us at michiganizzat@gmail.com or fill out the form.</p>
      <div class="ContactForm">
        <form name="contactform" method="post" action="php/send_form_email.php">
          <input type="text" name="first_name" placeholder="First Name">
          <input type="text" name="last_name" placeholder="Last Name">
          <input type="text" name="email" placeholder="Email Address">
          <textarea name="comments"  placeholder="What can we help you with?"></textarea>
          <div id="submitBTN">
            <input  type="submit" value="Submit" placeholder="Submit">
          </div>
        </form>
      </div>
    </div>

    <% include partials/footer %>

    <script type="text/javascript">
      /* Set the width of the side navigation to 250px */
      function openNav() {
        document.getElementById("mySidenav").classList.remove("close");
        document.getElementById("mySidenav").classList.add("open");
      }

      /* Set the width of the side navigation to 0 */
      function closeNav() {
        document.getElementById("mySidenav").classList.remove("open");
        document.getElementById("mySidenav").classList.add("close");
      }
    </script>

</body>

</html>
