<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Izzat | Events</title>

  <% include partials/header %>

</head>

<body>
  <!-- Sidenav Bar -->
  <% include partials/sidenav %>

    <!-- Background -->
    <div class="" style="background: black;">
      <img src="images/Group/G4.png" alt="Group Photo" class="pageBackgroundIMG">
    </div>

    <!-- Content -->
    <div class="yearsBTN">
      <button type="button" onclick="ppBTN(2015)">2015</button>
      <button type="button" onclick="ppBTN(2016)">2016</button>
      <button type="button" onclick="ppBTN(2017)">2017</button>
      <button type="button" onclick="ppBTN(2018)">2018</button>
    </div>

    <div class="container eachSection">
      <h1 class="eachSectionTitle">Past Performances and Awards</h1>
      <div id="2015" class="PPAA" style="display: block;">
        <h2>Pearl Harbor</h2>
        <p>This theme tells the story of two best friends stationed together at Pearl Harbor. One of the friends suffers from a heart condition and is killed in the World War II attack. The story ends in a celebration of the bravery shown by members of the
          military.
        </p>
        <div class="CompAwards">
          <h4>Jhalak // 3rd</h4>
          <a href="https://www.youtube.com/watch?v=xsgGXQvnGXI" target="_blank"><h4>The Manhattan Project // <strong style="font-weight="700";">1st</strong> </h4></a>
          <a href="https://www.youtube.com/watch?v=xrEIqs4zOi8" target="_blank"><h4>A-Town Showdown // 1st</h4></a>
          <h4>Tufaan // 3rd</h4>
          <a href="https://www.youtube.com/watch?v=-gO11zpZyiw" target="_blank"><h4>Bollywood America // 3rd</h4></a>
        </div>
      </div>

      <div id="2016" class="PPAA" style="display: none;">
        <h2>Blood Ties</h2>
        <p>This story follows two brothers who lost their parents at a young age. The older brother enters the world of crime to support his younger brother who follows his dream of being a police officer. Conflict ensues and both brothers come to a compromise
          because family always comes first.</p>
        <div class="CompAwards">
          <a href="https://www.youtube.com/watch?v=LFz0q83y1QE" target="_blank"><h4>Buckeye Mela</h4></a>
          <a href="https://www.youtube.com/watch?v=7cbf3IvBJr0" target="_blank"><h4>Dhamaal</h4></a>
          <a href="https://www.youtube.com/watch?v=VCm-HbVsWVI" target="_blank"><h4>A-Town Showdown // 2nd</h4></a>
          <a href="https://www.youtube.com/watch?v=Z5UXNMbkzSU" target="_blank"><h4>Tufaan // 1st</h4></a>
          <a href="https://www.youtube.com/watch?v=A_5mbviiKG4" target="_blank"><h4>Bollywood America</h4></a>
        </div>
      </div>

      <div id="2017" class="PPAA" style="display: none;">
        <h2>Soundoff</h2>
        <p>This theme tells the story of Aryan, a dancer and leader of a local dance troupe. Aryan’s family is struggling to make ends meet. Aryan gets his big break when his team gets accepted to a dance competition where the prize money will solve his financial
          woes. On a night out in the town, Aryan loses his hearing and has to figure out how to dance deaf. After struggling, he learns to feel the music’s vibrations and has a successful competition with his supportive team.</p>
        <div class="CompAwards">
          <a href="https://www.youtube.com/watch?v=QLe5yBsueCo" target="_blank"><h4>Nasha // 1st</h4></a>
          <a href="https://www.youtube.com/watch?v=5VDy6BX1i20" target="_blank"><h4>A-Town Showdown // 1st</h4></a>
          <a href="https://www.youtube.com/watch?v=no6DqSCJBIc" target="_blank"><h4>Tufaan</h4></a>
          <a href="https://www.youtube.com/watch?v=5CFGuuQXSXc&t=26s" target="_blank"><h4>Bollywood America</h4></a>
        </div>
      </div>

      <div id="2018" class="PPAA" style="display: none;">
        <h2>Jungle Book</h2>
        <p>Our interpretation of the popular tale, this story follows Mowgli, a boy raised in the jungle, and his conflict with the tiger Shere Khan. Shere Khan wants Mowgli out of the jungle; however, Mowgli staunchly refuses to leave his home. Mowgli’s protectors,
          Bagheera and Baloo, teach him that violence is not the answer to problems. Mowgli adheres to this teaching in his final conflict with Shere Khan and allows the tiger to flee, finally understanding the harmony of the jungle.</p>
        <div class="CompAwards">
          <a href="https://www.youtube.com/watch?v=WedmBszeNkE&t=97s" target="_blank"><h4>A-Town Showdown</h4></a>
          <a href="https://www.youtube.com/watch?v=EOiie2BLw0Q" target="_blank"><h4> Buckeye Mela </h4></a>
          <a href="https://www.youtube.com/watch?v=Oayyn_AmyV4" target="_blank"><h4>Tufaan // 3rd</h4></a>
        </div>
      </div>
    </div>
    <hr class="style-two">
    <div class="container eachSection">
      <h1 class="eachSectionTitle">Mix</h1>
      <div id="2015Mix" class="PPAA" style="display: block;">
        <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/203347231&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </div>

      <div id="2016Mix" class="PPAA" style="display: none;">
        <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/266632894&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </div>

      <div id="2017Mix" class="PPAA" style="display: none;">
        <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/318561664&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </div>

      <div id="2018Mix" class="PPAA" style="display: none;">
        <iframe width="100%" height="200" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/437647668&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
      </div>
    </div>
    </section>

    <% include partials/footer %>

    <script type="text/javascript">

      /* Set the width of the side navigation to 250px */
      function openNav() {
        document.getElementById("mySidenav").classList.remove("close");
        document.getElementById("mySidenav").classList.add("open");
      }

      /* Set the width of the side navigation to 0 */
      function closeNav() {
        document.getElementById("mySidenav").classList.remove("open");
        document.getElementById("mySidenav").classList.add("close");
      }

      function ppBTN(year_input) {
        var year = year_input;
        // console.log(year);
        var yearBTN = document.getElementById(year);
        var i;
        for (i = 2015; i < 2019; i++) {
          var otherYears = document.getElementById(i);
          if (year === i) {
            yearBTN.style.display = "block";
            document.getElementById(year + "Mix").style.display = "block";
          } else {
            otherYears.style.display = "none";
            document.getElementById(i + "Mix").style.display = "none";

          }
        }
      }
    </script>

</body>

</html>
