/* Images of the members */

.memberPics {
  margin-bottom: 25px;
  text-align: center;
}

.memberPics img {
  width: 100%;
  border-radius: 100%;
  border: solid 3px gold;
}

.memberPics h4 {
  font-size: 100%;
}

.memberPics h3 {
  font-size: 100%;
}

#note {
  text-align: center;
  color: #333;
  font-size: 75%;
}

.ActiveAlumBTN {
  margin-bottom: 10px;
  text-align: center;
}

.ActiveAlumBTN button {
  border: solid 3px gold;
  font-size: 30px;
  border-radius: 10%;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

.ActiveAlumBTN button:hover {
  background-color: #1f1f1f;
  color: gold;
}

hr.divider {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
