<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Izzat | Donate</title>

  <% include ../partials/header %>

</head>

<body>
  <!-- Sidenav Bar -->
  <% include ../partials/sidenav %>

    <!-- Background -->
    <div class="" style="background: black;">
      <img src="images/Group/Donate.png" alt="Group Photo" class="pageBackgroundIMG">
    </div>
    <!-- Content -->
    <div class="container eachSection">
      <h1 class="eachSectionTitle">Q&A:</h1>
      <div class="QA">
        <h2>Why should I donate?</h2>
        <p>Michigan Izzat is a competitive college team. So to compete we must travel and book hotels for all the members. As a team, we perform at gigs and fundraise to lessen the costs for the team. While these efforts are great, every little bit helps.
          Our members are always pushed to perform at their maximum potential on stage and off stage. Donating to our team will help up achieve greater feats while taking some stress off our shoulders.</p>

        <p>The money we get from donations and fundraisers go towards multiple things. We go to about 3-4 competition a year and each of those require travel and hotel costs. Sometimes we may need to fly to a competition and the tickets can get expensive.
          For those on the team who do not have the budget to fly can reach out to the team for some financial help. Also, each competition requires some fee for the members so they can compete. If our funds permit, we would like to eliminate this cost
          for out members. Last but not least, all our funds are used in production to buy props, costumes, and tools. We also invest in a DJ so that we can make and change a mix for our performance.</p>

        <p>Donations will help out our members as they are students as well as dancers and we would like our whole team to succeed on and off the stage. Donations will also help our team to keep going as funds accumulate, our team can use the funds to train
          harder and more efficiently and to create an even more amazing show for us to put on. If you would like to see more of Michigan Izzat, please donate!</p>
      </div>

      <div class="QA">
        <h2>Is my donation secure?</h2>
        <p>Absolutley. Your donation is 100% secure. In order to ensure that your transaction proceeds securely and correctly, Izzat created a Paypal to gather donation funds. This allows for all security to be manageed by Paypal.</p>
      </div>

      <div class="QA">
        <h2>What are other ways to support Michigan Izzat?</h2>
        <p>Some other ways that you could help us out is by liking our Facebook page, share this page with friends, family, and acquaintances, hiring us for different events, or sponsoring us.</p>
      </div>
    </div>

      <% include ../partials/footer %>

        <!-- Javascript -->
        <script type="text/javascript">
          /* Set the width of the side navigation to 250px */
          /* Set the width of the side navigation to 250px */
          function openNav() {
            document.getElementById("mySidenav").classList.remove("close");
            document.getElementById("mySidenav").classList.add("open");
          }

          /* Set the width of the side navigation to 0 */
          function closeNav() {
            document.getElementById("mySidenav").classList.remove("open");
            document.getElementById("mySidenav").classList.add("close");
          }
        </script>


</body>

</html>
