<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Add Member</title>

  <% include ../partials/header %>

</head>

<body>
  <!-- Sidenav Bar -->
  <% include ../partials/sidenav %>

    <!-- Background -->
    <div class="" style="background: black;">
      <img src="/images/Group/about.png" alt="Group Photo" class="pageBackgroundIMG">
    </div>

    <div class="container" style="margin-bottom: 50px;">
      <div class="row">
        <h1 style="text-align: center">Register</h1>

        <form class="log-in" action="/Register" method="POST">
          <div class="form-group">
            <input type="text" name="username" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="text" name="authCode" placeholder="Authentication Code">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block">Submit!</button>
          </div>
        </form>
      </div>
    </div>

    <% include ../partials/footer %>

      <script type="text/javascript">
        /* Set the width of the side navigation to 250px */
        function openNav() {
          document.getElementById("mySidenav").classList.remove("close");
          document.getElementById("mySidenav").classList.add("open");
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
          document.getElementById("mySidenav").classList.remove("open");
          document.getElementById("mySidenav").classList.add("close");
        }

      </script>


</body>

</html>
